<ion-view view-title="Compare">
  <ion-content>

<div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-coffee"></i>
    <p>Activity</p>
    <p>MM/DD/YYYY - MM/DD/YYYY</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    <p>Description of the graph above</p>
  </div>

<div class="item" style="padding: 0px;">
	<div class="row">
	  <div class="col">
	  	<label class="item item-input">
		    <input type="text" placeholder="From:">
		  </label>
	  </div>
	  <div class="col">
		 <label class="item item-input">
		    <input type="text" placeholder="To:">
		  </label>
	  </div>
	</div>

  </div>

</div>


<div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-star"></i>
    <p>Longest Streak</p>
    <p>MM/DD/YYYY - MM/DD/YYYY</p>
  </div>

  <div class="item item-body">


<div google-chart chart="chartObject" style="height:200px; width:90%;"></div>

    <p>Description of the graph above</p>
  </div>

<div class="item" style="padding: 0px;">
	<div class="row">
	  <div class="col">
	  	<label class="item item-input">
		    <input type="text" placeholder="From:">
		  </label>
	  </div>
	  <div class="col">
		 <label class="item item-input">
		    <input type="text" placeholder="To:">
		  </label>
	  </div>
	</div>
  </div>
</div>


<div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-clock"></i>
    <p>Time Entered</p>
    <p>MM/DD/YYYY - MM/DD/YYYY</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    <p>Description of the graph above</p>
  </div>

<div class="item" style="padding: 0px;">
	<div class="row">
	  <div class="col">
	  	<label class="item item-input">
		    <input type="text" placeholder="From:">
		  </label>
	  </div>
	  <div class="col">
		 <label class="item item-input">
		    <input type="text" placeholder="To:">
		  </label>
	  </div>
	</div>
  </div>
</div>

<div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-checkmark-circled"></i>
    <p>Tasks Completed</p>
    <p>MM/DD/YYYY - MM/DD/YYYY</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    <p>Description of the graph above</p>
  </div>

<div class="item" style="padding: 0px;">
	<div class="row">
	  <div class="col">
	  	<label class="item item-input">
		    <input type="text" placeholder="From:">
		  </label>
	  </div>
	  <div class="col">
		 <label class="item item-input">
		    <input type="text" placeholder="To:">
		  </label>
	  </div>
	</div>
  </div>
</div>
  </ion-content>
</ion-view>
