<ion-view view-title="My Info">
  <ion-content>



    <div class="circle">
    	<i class="icon ion-trophy"></i>
    </div>
    <div class="list list-inset">
<div class="item item-divider">
    Hard Work At A Glance
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-loop"></i>
    Current Streak:
    <span class="badge badge-balanced">{{stats.currentStreak}}</span>
  </div>
<div class="item item-icon-left">
    <i class="icon ion-star"></i>
    Longest Streak:
    <span class="badge badge-balanced">{{stats.longestStreak}}</span>
  </div>

<div class="item item-icon-left">
    <i class="icon ion-checkmark-circled"></i>
    Total Tasks Completed:
    <span class="badge badge-balanced">{{stats.totalTasksComplete}}</span>
  </div>

<div class="item item-icon-left">
    <i class="icon ion-clock"></i>
    Total Time Entered:
    <span class="badge badge-balanced">{{stats.totalTimeEntered}}</span>
  </div>

<div class="item item-icon-left">
    <i class="icon ion-calendar"></i>
    Total Days Active: 
    <span class="badge badge-balanced">{{stats.totalDaysActive}}</span>
  </div>

</div>


  </ion-content>
</ion-view>
