<ion-view view-title="My Tasks">
<ion-nav-buttons side="secondary" >
      <button ng-show="viewOptions.completed" class="button button-clear" ng-click="viewOptions.canEdit = !viewOptions.canEdit;">
        Edit
      </button>
    </ion-nav-buttons>
  <ion-content>



<div class="list" ng-hide="viewOptions.submitted">

  <label class="item item-input item-avatar">
  	<img src="img/number-1.png">
    <input ng-model="tasks.task1.title" class="capitalize" required type="text" style="margin-left:50px;" placeholder="first order of business">
  </label>
  <label class="item item-input item-avatar">
  	<img src="img/number-2.png">
    <input ng-model="tasks.task2.title" class="capitalize" required type="text" style="margin-left:50px;" placeholder="next up">
  </label>
  <label class="item item-input item-avatar">
  	<img src="img/number-3.png">
    <input ng-model="tasks.task3.title" class="capitalize"  required type="text" style="margin-left:50px;" placeholder="last but not least">
  </label>

</div>

<div ng-show="viewOptions.submitted">

<div class="list card">


	<div class="item item-checkbox checkbox-balanced" ng-class="{'checked' : tasks.task1.accomplished}" on-swipe-left="operations.swipeLeft(1);">
	     <label class="checkbox">
	       <input ng-disabled="viewOptions.completed && !viewOptions.canEdit" ng-change="operations.completeTask(1)" ng-model="tasks.task1.accomplished" type="checkbox">
	     </label>
	     {{tasks.task1.title | uppercase}}
	  </div>

	<div class="item item-checkbox checkbox-balanced" ng-class="{'checked' : tasks.task2.accomplished}" on-swipe-left="operations.swipeLeft(2);">
	     <label class="checkbox">
	       <input ng-disabled="viewOptions.completed && !viewOptions.canEdit" ng-change="operations.completeTask(2)" ng-model="tasks.task2.accomplished" type="checkbox">
	     </label>
	     {{tasks.task2.title | uppercase}}
	  </div>

	<div class="item item-checkbox checkbox-balanced" ng-class="{'checked' : tasks.task3.accomplished}" on-swipe-left="operations.swipeLeft(3);">
	     <label class="checkbox">
	       <input ng-disabled="viewOptions.completed && !viewOptions.canEdit" ng-change="operations.completeTask(3)" ng-model="tasks.task3.accomplished" type="checkbox">
	     </label>
	     {{tasks.task3.title | uppercase}}
	  </div>
</div>

<div class="padding">
    <a href="#/app/enter-time/1" class="button button-block button-positive">
    <i class="icon ion-plus-round menu-space"></i> Add Time
  </a>
    <button ng-click="operations.viewTimes()" class="button button-block button-calm">
    <i class="icon ion-eye menu-space"></i> <span style="margin-left:5px;">View Times</span>
  </button>
</div>


<div ng-show="viewOptions.showStreak" class="current-streak">
  <p class='current-streak-top'>Current</p>
  <div class="streak-number">{{streak}}</div>
  <p class='current-streak-bottom'>Streak</p>
</div>



</div>
  </ion-content>
  <ion-footer-bar ng-hide="viewOptions.submitted">
  	<button  ng-disabled="!tasks.task1.title || !tasks.task2.title || !tasks.task3.title"   ng-click="operations.showConfirm();" class="button button-block button-balanced placement-bottom">
	Save my three for today!
</button>



      </ion-footer-bar>
</ion-view>

